/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section Styles */
.hero {
    height: 500px;
    background-color: green;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

/* Service Offerings Styles */
.services {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.service {
    display: inline-block;
    width: 30%;
    margin: 0 2%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Payment Options Styles */
.payment-options {
    padding: 80px 0;
    text-align: center;
}

.payment-options h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.options {
    display: flex;
    justify-content: center;
}

.option {
    width: 30%;
    margin: 0 2%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

